# Processing of the raw data

In [1]:
import pandas as pd

DATA_ORIG = "../data/00_original"
DATA_DIR = "../data/01_process"

## Loading files

In [2]:
data = pd.read_csv(f"{DATA_DIR}/data_table.tsv", sep="\t", names=["Student", "Word", "Hangul", "Romanized", "KO"])
pt_phon = pd.read_excel(f"{DATA_ORIG}/pt_words_phon.xlsx", names=["Word", "PT"], index_col="Word").to_dict()['PT']
data["PT"] = data.apply(lambda row: pt_phon[row.Word], axis=1)
data = data[["Student", "Word", "PT", "Hangul", "Romanized", "KO"]]

In [3]:
ptphon = data["PT"]
def contain(series, what): return series.map(lambda x: what in x)

unstressed_o = data.loc[contain(ptphon, "ʊ")]
unstressed_e = data.loc[contain(ptphon, "ɪ")]

In [4]:
unstressed_o

    Student     Word          PT Hangul         Romanized              KO
15        0     zelo      ˈze.lʊ    지에루         ci.ey.lwu        tɕi.ɛ.lu
16        0     gelo      ˈʒe.lʊ    쥐엘루       cwi.eyl.lwu       tɕʏ.ɛl.lu
25        0     bolo      ˈbo.lʊ     울루           wul.lwu           ul.lu
27        0  líquido   ˈli.ki.dʊ    딕끼두       tik.kki.twu      tik.k͈i.tu
28        0  liquido   li.ˈki.dʊ    딕끼뚜      tik.kki.ttwu     tik.k͈i.t͈u
29        0  liqüido  li.ˈkʷi.dʊ    딕뀌두      tik.kkwi.twu      tik.k͈ʏ.tu
30        0     pato      ˈpa.tʊ     빠뚜          ppa.ttwu         p͈a.t͈u
37        0    cheio      ˈʃej.ʊ    셰이우         syey.i.wu         sjɛ.i.u
38        0     seio      ˈsej.ʊ    쎄이우         ssey.i.wu         s͈ɛ.i.u
51        0   pacato   pa.ˈka.tʊ    빠까뚜      ppa.kka.ttwu     p͈a.k͈a.t͈u
54        0  talento  ta.ˈlẽ.tʊ   딸리엔뚜  ttal.li.eyn.ttwu  t͈al.li.ɛn.t͈u
55        0  daquilo   da.ˈki.lʊ    다낄루       ta.kkil.lwu      ta.k͈il.lu
56        0  daquilo   da.ˈki.lʊ   다끼엘루    ta.kki.eyl.lwu    ta.k͈i.ɛl.lu
57        0  naquilo   na.ˈki.lʊ   나끼엘루    na.kki.eyl.lwu    na.k͈i.ɛl.lu

In [5]:
table_pt_ko = data.pivot_table(index="PT", columns="Student", values=["KO"], aggfunc=lambda x: ", ".join(x))

In [6]:
table_pt_ko.to_excel(f"{DATA_DIR}/table_pt_ko.xlsx")